@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bungee+Tint&family=Nerko+One&family=New+Amsterdam&family=Playwrite+CU:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Amsterdam", sans-serif;
}

body {
  background: radial-gradient(circle, rgb(234, 230, 230), rgb(14, 13, 13));
  display: flex;
  justify-content: center;
}

.container {
  margin: 20px 0;
  padding: 15px;
  background-color: #111;
  border: 10px solid black;
  border-radius: 25px;
  z-index: 1;
}

.container:hover {
  background: radial-gradient(circle, rgb(234, 230, 230), rgb(14, 13, 13));
}

.container span{
  color: white;
}
.container h1 {
  padding: 10px 0;
  margin: 25px 0;
  font-family: 'Bungee Tint';
  animation: calcAnimation 2s ease-in-out infinite
}
@keyframes calcAnimation {
  0% {
    transform: scale(0.2);
    opacity: 1;
    text-shadow: 2px 2px 20px white;
  }
  25%{
    rotate: -5deg;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
    text-shadow: 2px 2px 100px white;
  }
  75%{
    rotate: 5deg;
  }
  100%{
    rotate:0deg;
  }
}

.cdBtn {
  display: flex;
  gap: 3px;
  margin: 2px -20px;
}

input::placeholder {
  color: white;
}


#inputText {
  background: radial-gradient(red, black);
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  outline: none;
  z-index: 1;
  animation: snakeBorder 2s infinite;
}

@keyframes snakeBorder {
  0% {
    border: 3px solid white;
  }
  50%{
    transform: scale(1.05);
  }
  100% {
    border: 3px solid red;
  }
}

button.color {
  background-color: white;
  color: red;
  box-shadow: 2px 2px 10px red;
}

button.color:active {
  transition: all 1ms ease-in-out;
  transform: scale(1.1);
  background-color: #FA8710;
  color: whitesmoke;
}

.button {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 10px white;
  padding: 30px;
  width: 10px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 5%;
  margin-bottom: 10px;
  cursor: pointer;
}

.button:active {
  transition: all 1ms ease-in-out;
  transform: scale(1.1);
  background-color: green;
}

.color2 {
  background: radial-gradient(background, rgb(58, 59, 59), rgb(255, 255, 255));
  color: blue;
  box-shadow: 2px 2px blue;
}

/* .color2:active{
  transition: all 1ms ease-in-out;
  transform: scale(1.2);
  background-color: blue;
  color: white;
} */

.historyPanel {
  transform: translateX(100%);
  transition: all 2s ease-in-out;
  border: 10px solid black;
  border-right: white;
  border-radius: 100px 0 0 100px;
  background-color: white;
  color: red;
  margin: 100px 0;
  padding: 50px 15px;
  position: fixed;
  top: 0;
  left: 300px;
  width: 300px;
  height: 70vh;
  overflow: hidden;
  background: radial-gradient(white,rgb(32, 28, 28));

}

.historyPanel.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(4%);
}
#showHistoryBtn{
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0 95px;
  padding: 5px 5px;
}
#showHistoryBtn:active{
  transform: scale(1.2);
  box-shadow: 0 0 10px red;
}
.historyPanel button{
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  box-shadow: 2px 20px 10px black;
  margin: -10px 70px;
  cursor: pointer;
}
.historyPanel button:active{
  color: rgb(32, 205, 5);
  transform:scale(1.05);
}

#historyList {
  max-height: 320px;
  overflow-y:scroll;
  padding-left: 40px;
  margin-top: 35px;
}

#historyList h3{
  color: green;
  margin: 5px 30px;

}
#historyList li {
  font-size: 20px;
  color: black;
  list-style: decimal;
  border: 1px solid black;
  border-radius: 15px 0px 15px 0px ;
  padding: 5px 10px;
  margin: 5px 10px;
  font-family: 'Press Start 2P', cursive;
}

#historyList li::marker {
  color: red;
}

#historyList::-webkit-scrollbar {
  width: 8px;
}

#historyList::-webkit-scrollbar-track {
  background:radial-gradient(circle,red,white);
  border-radius: 10px;
}

#historyList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.8);
}

@media (min-width: 200px) and (max-width:1200px){
.historyPanel{
  position: fixed;
  top: -10%;
  left: 22%;
  transform: translateY(100%);
  max-height: 330px;
  border-radius: 30px;
  border-right:10px solid black;
}

.historyPanel.show{
  display: block;
  z-index: 2;
  top: 35%;
  left: 36%;
}

.historyPanel button{
  border: none;
  box-shadow: none;
  font-size: 12px;
  padding: 5px 0;
  position: relative;
  bottom: 40px;
}

#historyList {
  overflow-y:scroll;
  padding-left: 40px;
  margin-top: -40px;
}

}